body {
  margin-top: 180px;
  font-size: 18px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

h1 {
  margin: 0 10% 0 10%;
}

p {
  margin: 15px 10% 15px 10%;
}

.bottom_card {
  margin-bottom: 100px;
}

.contact_button {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
  margin: 0 10% 50px 10%;
}

.contact_button:hover {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
  margin: 0 10% 50px 10%;
  box-shadow: 0px 0px 12px #006868;
}

.contact_page {
  background-color: #008080;
  border-color: #006868;
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 0 auto 0 auto;
  font-size: 18px;
  position: center;
}

.education {
  margin-left: 50px;
}

.education_location {
  margin-left: 50px;
  margin-bottom: 50px;
  list-style-type: none;
}

.explore_button {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
}

.explore_button:hover {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
  box-shadow: 0px 0px 12px #006868;
}

.footer {
  background-color: #008080;
  color: white;
  padding: 20px 0 20px 0;
  border-color: #006868;
}

.image_home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.image_resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav_bar {
  background-color: #008080;
  border-color: #006868;
  color: white;
}

.nav_items {
  color: white;
  margin-left: 15%;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.nav_items:hover {
  color: white;
  margin-left: 15%;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 15px #002828;
}

.portfolio_card {
  height: 220px;
  margin: 0 0 25px 0;
}

.quote_home {
  background-color: #008080;
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 50px 10% 25px 10%;
}

.quote_page {
  background-color: #008080;
  border-color: #006868;
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 10px 10% 40px 10%;
  font-size: 18px;
}

.quote_page_bottom {
  background-color: #008080;
  border-color: #006868;
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 10px 10% 100px 10%;
  font-size: 18px;
}

.quote_button {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
  margin: 10px 40% 100px 40%;
}

.quote_button:hover {
  background-color:#008080;
  border-radius: 5px;
  border-color: #006868;
  color: white;
  margin: 10px 40% 100px 40%;
  box-shadow: 0px 0px 12px #006868;
}

.resume_address {
  color: black;
}

.resume_location {
  list-style-type: none;
}

.resume_description {
  margin-left: 50px;
  margin-bottom: 25px;
}

.title {
  font-size: 30px;
}

.top_card {
  margin-top: 50px;
}



